*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 2%;
    padding: 2%;
    background-color: aqua;
}

#logo{
    height: auto;
    margin: auto;
    padding: 1%;
    width: 35%;
}

#form-registro{
    width: 35%;
    height: auto;
    background-color: #fff;
    padding: 1%;
    margin: auto;
    border-radius: 2%;
}